body{
  background-image: url(images/indexBackground.png);
  font-family: "Major Mono Display", monospace;

  color: white; 
  display: grid;
  grid-template-areas:
  "h h h"
  "f f f"
  "r r r"
  "m m m";
}

button{
  color: white;
  background-color: #4E2C5D;
  cursor:pointer;
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#recent ,#videosDiv ,#favorites{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#recentItems, #favoritesItems{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

#recent, #recentItems{
  grid-area: r;
}
#favorites, #favoritesItems{
  grid-area: f;
}
#videosDiv, #videosItems{
  grid-area: m;
}

#navBar{
  grid-area: h;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80%;
  padding-bottom: 5%;
}

#videosItems{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.video{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  background-color: #200A24;

  width: calc(80% / 5);
  
  border-style: solid;
  border-radius: 5%;
  border-width: 5px;
  border-color: black;
}
.video:hover{
  border-color:white;
}

.nameDiv{
  padding: 5px 5px 0px 5px;

  display: grid;
  grid-template-areas:
  "n n n"
  "d d d"
  ". . h";
}
.link{
  grid-area: n;
}
.desc{
  grid-area: d;
}
.heart, .favedHeart{
  margin-left: auto;
  width: 20px;
  padding-bottom: 5px;
  grid-area: h;
}

.videoIcon{
  flex: 0 0 10%;
  /* max-width: 100px; */
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 95%;
  object-fit: cover;

  border-radius: 5%;
}

a{
  text-decoration: none;
}

a:link {
  color: white;  
}

a:visited {
  color: white; 
}
.showAll{
  padding-top: 7px;
}
.showAll:hover{
  color: #4E2C5D;
}

@media (max-width: 1000px) {
  #navBar {
    gap: 50%;
  }

  #favoritesItems, #recentItems{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    
    max-width: 90vw;
    width: 100%;
    
    scrollbar-width: none;
  }

  #favoritesItems::-webkit-scrollbar, #recentItems::-webkit-scrollbar{
    display: none;
  }

  .video {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: calc(80% / 3);
    gap: 5px;
  }

  .link{
    word-wrap: break-word;
  }

  .nameDiv{
    padding-left: 0px;
  }
  
  a, p{
    padding-left: 5px;
    font-size: 10px;
  }
}

@media (min-width: 1500px) {
  .video{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  
    background-color: #200A24;
  
    width: calc(80% / 8);
    
    border-style: solid;
    border-radius: 5%;
    border-width: 5px;
    border-color: black;
  }
}