html{
    height: 100%;
}

body{
    color: #1e2423;
    font-family: "Major Mono Display", monospace;
    background-size: 100% 100% ;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDiv{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    
    width: 30%;
    border-radius: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;

    gap: 5px;
}

.user:hover{
    background-color: #c6c2c7;
}
P{
    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
}
.usercontent{
    order: 1;
}

.userIcon{
    cursor:pointer;
    border-radius: 18%;
    order: 2;
}

.userEdit{
    order: 3;
}

button{
    color: white;
    background-color: black;
    cursor:pointer;
}

#userIcon{
    width: 50%;
}

.icon{
    width: 15%;
    border-style: solid;
    border-color:#1e2423 ;
}
.icon:hover , .iconNew:hover{
    border-style: solid;
    border-color: rgb(102, 102, 95);
}

.iconsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    
}
.iconNew{
    border-radius: 18%;
    border-style: solid;
    border-color:#1e2423;
    width: 25%;
}
.iconChecked{
    width: 30%; 
    border-radius: 18%;

    border-style: solid;
    border-color: rgb(223, 209, 209);
}

a{
    text-decoration: none;
    color: white;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}

#fileInput{
    display: none;
}

/* addUserForm */
.addUserDiv{
    padding: 10px;
    padding-right:10px ;
    padding-left:10px ;
    margin-top: 10px;
    margin-left: 33%;
    margin-right: 33%;

    border-radius: 8%;
    background-color: white;
    box-shadow: 0 6px 20px 0 white, 0 6px 20px 0 white;
}
.controlesDiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 10px;

    /* background-color: white; */
}

#username{
    width: 80%;
}

.userEdit, .userContent, .addNewUser, #username, .label{
    font-size: 22px;
}

@media (max-width: 800px) {
    #addButton,#addImage,#username{
        font-size: 14px;
    }
}

@media (min-width: 801px) {
    #user{
        width: 100%;
    }
    #userIcon{
        width: 90%;
    }

    .iconNew{
        width: 25%;
    }
    .iconChecked{
        width: 30%;
    }

    .controlesDiv{
        display: flex;
        flex-wrap: wrap;
    }

    #addButton,#addImage,#username{
        font-size: 14px;
    }
}

@media (min-width: 1400px) {
    .iconNew{
        width: 20%;
    }

    .addUserDiv{
        border-radius: 2%;
    }

    #user{
        width: 20%;
    }

    #username{
        width:30%;
    }
}
