html{
    height: 100%;
}

body{
    color: #1e2423;
    font-family: "Major Mono Display", monospace;
    background-size: 100% 100% ;

    display: grid;
    place-content: center;
    min-height: 100vh;
}

#label{
    margin-top: 0px;
}

#logonButton{
    margin-top: 5px;
}

#logonDiv{
    border-style: solid;
    border-color: black;
    border-radius: 5px;

    padding: 10px;

    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
}