html{
    height: 100%;
}
body{
    color: black;
    font-family: "Major Mono Display", monospace;

    background-size: 100% 100%;
}

button{
    color: white;
    background-color: black;
    cursor:pointer;
}

.file-upload-button{
    color: white;
    background-color: #4E2C5D;
}

#main{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    margin-right: 35%;
    margin-left: 35%;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    background-color: white;
}  

.elementdiv{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

.fileInputdiv{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  position:relative;
  padding-right:22px;
  border: 1px solid #200A24;
}

a{
    text-decoration: none;
}
a:link {
    color: white;  
}
a:visited {
    color: white; 
}

@media (max-width: 1000px) {
    #home{
        border-width: 2px;
    }

    #main{
        margin-top: 10px;
        margin-right: 5%;
        margin-left: 5%;
    }
}