html{
    height: 100%;
}
body,button{
    font-family: "Major Mono Display", monospace;
    color: white;
}
body{
    color: black;
    background-size: 100% 100%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    margin-right: 35%;
    margin-left: 35%;
    padding-bottom: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    background-color: white;
}

.icon{
    order: 1;
}
#videoName,#nameID{
    order: 2;
}
#videoDesc,#descID{
    order: 3;
}
#fileInput,#inputID{
    order: 4;
}
#updateButton{
    order: 5;
}
#deleteButton{
    order: 6;
}

button{
    background-color: black;
    cursor:pointer;
}

.icon{
    padding-top: 5px;
    width: 50%;
    max-width: 200px;
    border-radius: 5%;
    border-color: black;
    border-style: solid;
}

#videoName,#videoDesc{
    color: white;
    background-color: black;
    width: auto;
}

#fileInput{
    border-style: solid;
    border-color: black;
}

@media (max-width: 1000px) {
    .main{
        margin-right: 10%;
        margin-left: 10%;
    }
}