body{
    background-color: #1e2423;
}

#playerDiv{
    display: flex;
    flex-direction:column;
    /* align-items: center; */
    justify-content: flex-start;
    margin-left: 15%;
}
.videoPlayer{
    order: 1;
    margin-bottom: 10px;
}
.playerButtons{
    order: 2;

    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 5px;

    margin-bottom: 10px;
}

video{
    width: 80%;
    height: auto;
}

#main{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
}   

#titleDiv{
    margin-left: 15%;
}
#title{
    color: white;
}

#videosDiv{
    margin-left: 15%;
}

.nextup{
    color: white;
}