body{
    color: #1e2423;
    font-family: "Major Mono Display", monospace;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDiv{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    
    width: 20%;
    border-radius: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;

    gap: 5px;
}

.user:hover{
    background-color: #441E4B;
}

.usercontent{
    order: 1;
}

.userIcon{
    cursor:pointer;
    border-radius: 18%;
    order: 2;
}

.userEdit{
    order: 3;
}

button{
    color: white;
    background-color: #4E2C5D;
    cursor:pointer;
}

#userIcon{
    width: 50%;
}

.icon{
    width: 15%;
    border-style: solid;
    border-color:#1e2423 ;
}
.icon:hover , .iconNew:hover{
    border-style: solid;
    border-color: rgb(102, 102, 95);
}

.iconsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.iconNew{
    width: 10%;
    border-radius: 18%;
    border-style: solid;
    border-color:#1e2423;
}
.iconChecked{
    width: 10%; 
    border-radius: 18%;

    border-style: solid;
    border-color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}

/* addUserForm */
.addUserDiv{
    padding: 10px;
    padding-right:10px ;
    padding-left:10px ;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 8%;
    background-color: #4E2C5D;
    box-shadow: 0 6px 20px 0 #4E2C5D, 0 6px 20px 0 #4E2C5D;
}
.controlesDiv{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 10px;

    background-color: #4E2C5D;
}

@media (max-width: 1000px) {
    #user{
        width: 100%;
    }
    #userIcon{
        width: 90%;
    }

    .iconNew{
        width: 30%;
    }
    .iconChecked{
        width: 30%;
    }

    .addUserDiv{
        margin-right:5px ;
        margin-left:5px ;
    }
}
