body{
    background-image: url(images/indexBackground.png);
    font-family: "Major Mono Display", monospace;

    color: white;
}

#tester{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

button{
    color: white;
    background-color: #4E2C5D;
    cursor:pointer;
}

#playerDiv{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 100%;
}
.videoPlayer{
    width: 100%;
    order: 1;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 #4E2C5D, 0 6px 20px 0 #4E2C5D;
}
.playerButtons{
    order: 2;
    
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    height: 30px;
    
    margin-bottom: 10px;
}
.heart,.heartFilled{
    height: 80%;
    margin-left: auto;
    margin-top: auto;
}

video{
    width: calc(100% / 3 - 10px);
}

#main{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}   

#videosDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    padding: 5px 0px 5px 5px;

    border-radius: 5px;

    box-shadow: 0 4px 8px 0 #4E2C5D, 0 6px 20px 0 #4E2C5D;

    background-color: #200A24;
}
#main,#videosDiv,#header{
    width: 80%;
} 

#title{
    margin-right: auto;
}

#titleDiv{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

#removeButton{
    width: 80%;
    margin-top: 10px;
    grid-area: r;
}
#removeFolder{
    margin-right: 5px;
}
#fileInput{
    display: none;
}

.nextup{
    color: white;
}

#home{
    text-decoration: none;
}
#edit{
    color: #551a8b;
    text-decoration: none;
    margin-left: 90%;
}

@media (max-width: 1000px) {
    #edit{
        margin-left: auto;
    }
    #title{
        text-size-adjust: 70%;
        word-wrap: break-word;
    }

    #main,#videosDiv,#header,#removeButton{
        width: 95%;
    }   
}

